@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:ital,wght@0,100;0,200;0,500;1,100&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

html{
	position: relative;
	min-height: 100%;
}

.navbar {
	font-family: 'Dela Gothic One', cursive;
}

.container3 {
	height: 135vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background: linear-gradient(135deg, #888888, #fff, #b8b8b8, #888888);
}

.container4 {
	max-width: 700px;
	width: 100%;
	background-color: #fff;
	padding: 25px 30px;
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	/* position: absolute; */
}

.container4 .title {
	font-size: 25px;
	font-weight: 500;
	position: relative;
}

.container4 .title::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 140px;
	border-radius: 5px;
	background: linear-gradient(135deg, #666666, #d3d3d3);
}

.content form .user-details {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0 12px 0;
}

form .user-details .input-box {
	margin-bottom: 15px;
	width: calc(100% / 2 - 20px);
}

form .input-box span.details {
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
}

.user-details .input-box input {
	height: 45px;
	width: 100%;
	outline: none;
	font-size: 16px;
	border-radius: 5px;
	padding-left: 15px;
	border: 1px solid #ccc;
	border-bottom-width: 2px;
	transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
	border-color: #727272;
}

form .gender-details .gender-title {
	font-size: 20px;
	font-weight: 500;
}

form .category {
	display: flex;
	width: 80%;
	margin: 14px 0;
	justify-content: space-between;
}

form .category label {
	display: flex;
	align-items: center;
	cursor: pointer;
}

form .category label .dot {
	height: 18px;
	width: 18px;
	border-radius: 50%;
	margin-right: 10px;
	background: #d9d9d9;
	border: 5px solid transparent;
	transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
	background: #9b59b6;
	border-color: #d9d9d9;
}

form input[type="radio"] {
	display: none;
}

form .button2 {
	height: 45px;
	margin: 35px 0
}

form .button2 input {
	height: 100%;
	width: 100%;
	border-radius: 5px;
	border: none;
	color: black;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1px;
	cursor: pointer;
	transition: all 0.3s ease;
	background: linear-gradient(-135deg, rgb(70, 70, 70), #fdfdfd, #d3d3d3, #727272);
}

form .button2 input:hover {
	color: #fff;
	background: linear-gradient(-135deg, rgb(70, 70, 70), #fdfdfd, #d3d3d3, #727272);
	background: linear-gradient(135deg, #fdfdfd, rgb(70, 70, 70), #727272, #d3d3d3);
}

.footer {
	background-color: #212529;
	color: #ecf0f1;
	font-family: 'Dela Gothic One', cursive;
	text-align: center;
	font-size: 10px;
	padding: 10px;
}

.footer a {
	text-decoration: none;
	color: #707374;
}

.footer a:hover {
	color: #ecf0f1;
}

.fa {
	padding: 5px;
}

.cart_logo {
    transition: all 0.25s ease;
}
.cart_logo:hover {
    transform: scale(1.010);
}
.cart_img {
    width: 80%;
    /* width: 512px; */
    height: auto;
    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;  
}
.report{
	background-color: rgb(215, 237, 238);
	border-radius: 5px;
	margin: 0px 0px 10px 0px;
	text-align: center;
	font-family: 'Dela Gothic One', cursive;
}


@media(max-width: 584px) {
	.container {
		max-width: 100%;
	}

	form .user-details .input-box {
		margin-bottom: 15px;
		width: 100%;
	}

	form .category {
		width: 100%;
	}

	.content form .user-details {
		max-height: 300px;
		overflow-y: scroll;
	}

	.user-details::-webkit-scrollbar {
		width: 5px;
	}
}

@media(max-width: 459px) {
	.container .content .category {
		flex-direction: column;
	}
}